aiosqlite==0.22.1
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asyncio==4.0.0
build==1.3.0
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cleo==2.1.0
click==8.3.1
colorama==0.4.6
coverage==7.13.1
crashtest==0.4.1
distlib==0.4.0
dnspython==2.8.0
dulwich==0.24.10
email-validator==2.3.0
ensurepath==0.2.6
factory_boy==3.3.3
Faker==40.15.0
-e git+https://github.com/roossqg/Api-with-fast@5f65d2f2d7ec0a90b5a9da04f28653eb75a4a3d5#egg=fast_pr
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
fastar==0.8.0
fastjsonschema==2.21.2
filelock==3.20.1
findpython==0.7.1
freezegun==1.5.5
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
Jinja2==3.1.6
keyring==25.7.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.2
mslex==1.3.0
packaging==25.0
pbs-installer==2025.12.17
pexpect==4.9.0
pkginfo==1.12.1.2
platformdirs==4.5.1
pluggy==1.6.0
poetry==2.2.1
poetry-core==2.2.1
poetry-plugin-shell==1.0.1
psutil==6.1.1
ptyprocess==0.7.0
pwdlib==0.3.0
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.12.1
pyproject_hooks==1.2.0
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pywin32-ctypes==0.2.3
PyYAML==6.0.3
RapidFuzz==3.14.3
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rich-toolkit==0.17.1
rignore==0.7.6
ruff==0.14.10
sentry-sdk==2.48.0
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.49
starlette==0.50.0
taskipy==1.14.1
tomli==2.3.0
tomlkit==0.13.3
trove-classifiers==2025.12.1.14
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
userpath==1.9.2
uvicorn==0.40.0
virtualenv==20.35.4
watchfiles==1.1.1
websockets==15.0.1
zstandard==0.25.0
